
.calculate {
  width: 10em;
  align-self: center;
  margin-bottom: 1vh;
}

.table {
  text-align: center;
}

.result {
  align-items: center;
}

.btns {
  display: flex;
  place-content: space-around;
}

.form {
  display: flex;
  justify-content: space-evenly;
}

.wallsCansTables {
  display: flex;
  place-content: space-evenly;
  flex-flow: wrap;
}

.error {
  text-align: center;
}

h3 {
  text-align: center;
}